tstalgorithms
tstextreme
tstmalloc
tstmemory
tstmerge
tstrealloc
benchmark-random-first-fit
benchmark-random-best-fit
benchmark-random-system
benchmark-worst-first-fit
benchmark-worst-best-fit
benchmark-worst-system
benchmark-best-first-fit
benchmark-best-best-fit
benchmark-best-system
figures
*.o
*.config
*.creator*
*.files
*.includes
